@import "variables";
@import "mixin";
@import "extends";

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/ian-dooley-TT-ROxWj9nA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 500;
  margin-bottom: 3px;
}

hr {
  margin: 30px 0 30px 0;
  border: 0;
  border-top: 1px solid $border-color-2;
}

.left-col,
.right-col,
.center-col {
  padding: 0;
}

#page {
  header {
    margin: 2rem 0;
    .row {
      margin-left: 0;
      margin-right: 0;
      align-items: center;
      .left-col {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        .hamburger {
          img {
            width: 20px;
          }
        }

        .search {
          img {
            width: 20px;
          }
          input {
            width: 100px;
            background-color: transparent;
            color: #fff;
            font-weight: 600;
            border: none;
            opacity: 1;

            @include mobile {
              display: none;
            }
          }
        }
      }

      .right-col {
        display: flex;
        justify-content: space-around;
        .favourites {
          p {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
          }

          @include mobile {
            display: none;
          }
        }
        .login {
          p {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
          }
          @include mobile {
            display: none;
          }
        }

        .badge {
          span {
            border: 1px solid #fff;
            color: #fff;
            background-color: transparent;
            border-radius: 50%;
            width: 24px;
            height: 20px;
            padding-top: 4px;
          }
          img {
            width: 18px;
          }
        }
      }

      .center-col {
        .logo {
          text-align: center;
          h4 {
            color: #fff;
            letter-spacing: -6px;
            font-size: 38px;
            font-weight: 300;
          }
        }
      }
    }
  }

  main {
    color: #fff;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-row {
      .text {
        text-align: center;
        h1 {
          text-transform: uppercase;
          font-size: 7rem;
          color: #fff;

          @include mobile {
            font-size: 5rem;
          }
        }

        .p-text {
          p {
            padding: 10px 30rem;

            @include mobile {
              padding: 0;
            }
          }
        }

        a {
          text-transform: uppercase;
          border: 1px solid #fff;
          text-decoration: none;
          color: #fff;
          padding: 10px 35px;
          border-radius: 25px;
          font-weight: 600;
        }
      }
    }
  }
}

.scrolltop {
  position: fixed;
  bottom: 70px;
  right: 40px;
  width: 50px;
  height: 50px;
  // border-radius: 50%;
  background-color: #000;
  display: none;
  cursor: pointer;
  @include transition-default;

  &:hover {
    background-color: #ababab;

    i {
      color: #000;
    }
  }

  .icon {
    font-size: 30px;
    text-align: center;
    // transform: rotate(-45deg);
    margin-top: 3px;

    i {
      color: #fff;
    }
  }
}
